{
  "openapi": "3.0.3",
  "info": {
    "title": "Holonet Objects API",
    "description": "The Dreamteam CRM API lets you programmatically access and manage your CRM data \u2014 contacts, companies, deals, users, and pipelines. All endpoints follow REST conventions and return JSON.\n\n## Authentication\nAll requests require an OAuth2 bearer token. Your Bearer token identifies your organization \u2014 no tenant header or subdomain needed. Tokens do not expire automatically \u2014 they remain valid until you rotate them.\n\n### Getting your API token\n1. Click your **profile icon** (top-right corner)\n2. Click **View Profile**\n3. Scroll to the **API Token** section at the bottom\n\nThe panel shows three actions on the right of the masked token field:\n\n- \ud83d\udc41 **Reveal Token** \u2014 show the token in plaintext (default is masked with dots)\n- \ud83d\udccb **Copy Token** \u2014 copy the token to your clipboard\n- \ud83d\udd04 **Reset Token** \u2014 rotate the token. The previous token is invalidated immediately, so any integrations using it will start returning `401 Unauthorized` until you update them with the new token.\n\n![API Token panel with Reveal, Copy, and Reset icons](images/api-token.png)\n\nRotate your token immediately if you suspect a security breach.\n\n## Content-Type\n- `application/json` for POST and PUT\n- `application/merge-patch+json` for PATCH\n\n## Naming\nRequest and response bodies are **snake_case**. The Filter endpoint additionally accepts camelCase field names (`filterGroups`/`fieldPath`) \u2014 but `fieldPath` *values* are always snake_case attribute names (e.g. `owner_id`).\n\n## Timestamps\nAll timestamps in API responses are in **UTC** using ISO 8601 format: `YYYY-MM-DDTHH:MM:SS.ffffffZ`. The trailing `Z` indicates UTC. Use the same format when sending date values in requests (e.g. `expected_close_date`).\n\n## Associations\nAssociations live in their own block \u2014 never inside `properties`. Embed up to 100 per type via `?associations=` query parameter. Use the dedicated Associations endpoints to page beyond that. For Create record, pass an optional `associations: [{id, kind}]` array to link related records at creation time.",
    "version": "2.2.1",
    "contact": {
      "name": "Dreamteam Support",
      "email": "support@dreamteam.co"
    }
  },
  "servers": [
    {
      "url": "https://api.dreamteamcrm.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Records",
      "description": "Create, read, update, and filter operations over any object type"
    },
    {
      "name": "Associations",
      "description": "Record-to-record links (read-only)"
    },
    {
      "name": "Schema",
      "description": "Object type metadata, field definitions, and association definitions"
    },
    {
      "name": "Users",
      "description": "User identity resource"
    },
    {
      "name": "Pipelines",
      "description": "Deal pipeline management"
    }
  ],
  "paths": {
    "/api/v2/objects/{object}/records": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "listRecords",
        "summary": "List records",
        "description": "Returns a page of records the caller is authorized to view. RBAC row-level scoped.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "created_at,desc"
            },
            "description": "Sort spec, e.g. `created_at,desc`"
          },
          {
            "$ref": "#/components/parameters/Associations"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RecordPage"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "createRecord",
        "summary": "Create a record",
        "description": "Creates one record. Fields go inside `properties`. Associations are optional \u2014 pass an array of `{id, kind}` to link related records at creation time. Use the Schema endpoint under Getting Started to see valid fields for each object type.\n\n**Note on naming.** When creating associations, use `kind` with the simple object type name (e.g. `\"kind\": \"company\"`). In GET responses, embedded associations return `type` with the full association name (e.g. `\"type\": \"company_deal_assoc\"`). These refer to the same link \u2014 the keys and values are just named differently in requests vs responses.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordCreateRequest"
              },
              "examples": {
                "contact": {
                  "summary": "Contact",
                  "value": {
                    "properties": {
                      "first_name": "Shivani",
                      "last_name": "Shankar",
                      "email": "shivanishankar@acme.com",
                      "owner_id": 1000052,
                      "contact_activity_status": "New"
                    }
                  }
                },
                "deal-with-associations": {
                  "summary": "Deal with inline associations",
                  "value": {
                    "properties": {
                      "name": "Enterprise License - Acme Corp",
                      "amount": 50000,
                      "pipeline_id": 1,
                      "stage_id": 2,
                      "expected_close_date": "2026-08-31T00:00:00Z",
                      "owner_id": 1000052
                    },
                    "associations": [
                      {
                        "id": 1007569,
                        "kind": "company"
                      },
                      {
                        "id": 1015634,
                        "kind": "contact"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created",
            "headers": {
              "Location": {
                "description": "URI of the created record",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectRecord"
                },
                "example": {
                  "id": 1015771,
                  "type": "contact",
                  "properties": {
                    "first_name": "Shivani",
                    "last_name": "Shankar",
                    "email": "shivanishankar@acme.com",
                    "owner_id": 1000052,
                    "contact_activity_status": "New",
                    "criticality": "Yes"
                  },
                  "created_at": "2026-06-30T10:58:41.740762Z",
                  "updated_at": "2026-06-30T10:58:41.740762Z",
                  "created_by": 1000023
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/objects/{object}/records/{id}": {
      "get": {
        "tags": [
          "Records"
        ],
        "operationId": "getRecord",
        "summary": "Get a record by ID",
        "description": "Fetch one record. Use `?associations=contact&associations=company` to embed linked records (capped at 100 per type). Supported association types: `contact`, `company`, `deal`, `note`.\n\nTo fetch a note's content, call this same endpoint with `object=note` \u2014 notes are first-class records at `/api/v2/objects/note/records/{noteId}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          },
          {
            "$ref": "#/components/parameters/Associations"
          }
        ],
        "responses": {
          "200": {
            "description": "Record found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectRecord"
                },
                "examples": {
                  "single-record": {
                    "summary": "Single contact",
                    "value": {
                      "id": 1015680,
                      "type": "contact",
                      "properties": {
                        "first_name": "Bravo",
                        "last_name": "",
                        "email": "bravo@dreamteam.bot",
                        "source": "Meeting",
                        "owner_id": 1000001,
                        "contact_activity_status": "New",
                        "engagement": "Low",
                        "criticality": "Yes",
                        "buying_role": [
                          "Influencer"
                        ],
                        "last_activity_date": "2026-06-29T19:27:00Z",
                        "last_enriched_at": "2026-06-29T19:01:10.139211487Z"
                      },
                      "created_at": "2026-06-29T19:00:33.228563Z",
                      "updated_at": "2026-06-29T19:30:25.573715Z",
                      "created_by": 1000001
                    }
                  },
                  "with-associations": {
                    "summary": "Deal with embedded associations",
                    "value": {
                      "id": 1011624,
                      "type": "deal",
                      "properties": {
                        "name": "Apollo - May 2026",
                        "amount": 100000.0,
                        "expected_close_date": "2026-07-18T18:30:00Z",
                        "stage_id": 1000003,
                        "owner_id": 1000021,
                        "pipeline_id": 1000000,
                        "confidence": "Medium",
                        "forecast_category": "Pipeline",
                        "risk": "Medium",
                        "status": "Red Flag",
                        "last_activity_date": "2026-06-08T16:45:52Z"
                      },
                      "associations": {
                        "company": {
                          "records": [
                            {
                              "id": 1011597,
                              "type": "company_deal_assoc"
                            }
                          ],
                          "metadata": {
                            "total": 1,
                            "has_more": false
                          }
                        }
                      },
                      "created_at": "2026-05-20T13:00:55.857056Z",
                      "updated_at": "2026-06-12T08:13:25.348504Z",
                      "created_by": 1000021
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Records"
        ],
        "operationId": "replaceRecord",
        "summary": "Replace a record (full update)",
        "description": "Replaces the record's properties with the provided fields. **All required fields must be included** \u2014 omitted required fields trigger a `VALIDATION_FAILED / REQUIRED_FIELD_MISSING` error. Non-required fields that are omitted are set to `null` (see the sample response \u2014 `owner_id` was omitted from the request and appears as `null` in the response). Use PATCH instead if you only need to update a few fields.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordUpdateRequest"
              },
              "example": {
                "properties": {
                  "first_name": "Ram",
                  "email": "ram@acme.com",
                  "contact_activity_status": "New"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record replaced. Note that fields omitted from the request are cleared \u2014 see the example.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectRecord"
                },
                "example": {
                  "id": 1015879,
                  "type": "contact",
                  "properties": {
                    "owner_id": null,
                    "contact_activity_status": "New",
                    "first_name": "Ram",
                    "email": "ram@acme.com"
                  },
                  "created_at": "2026-07-02T03:39:28.977039Z",
                  "updated_at": "2026-07-02T08:51:04.855220Z",
                  "created_by": 1000023
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Records"
        ],
        "operationId": "patchRecord",
        "summary": "Partially update a record",
        "description": "Merges the provided fields into the existing record. Omitted fields are left unchanged. Set a field to `null` to explicitly clear it. Content-Type must be `application/merge-patch+json`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RecordUpdateRequest"
              },
              "example": {
                "properties": {
                  "state": null,
                  "linkedin": "www.linkedin.com/in/sampleyolo"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectRecord"
                },
                "example": {
                  "id": 1015782,
                  "type": "contact",
                  "properties": {
                    "first_name": "sample yolo2",
                    "last_name": "",
                    "email": "sample@yolo24.com",
                    "owner_id": null,
                    "contact_activity_status": "New",
                    "criticality": "Yes",
                    "state": null,
                    "linkedin": "www.linkedin.com/in/sampleyolo"
                  },
                  "created_at": "2026-06-30T11:46:12.210656Z",
                  "updated_at": "2026-07-01T09:25:31.825186Z",
                  "created_by": 1000017
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/objects/{object}/records/filter": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "filterRecords",
        "summary": "Filter records",
        "description": "Compound filtering. Filter groups are OR'd; filters within a group are AND'd. The request body accepts BOTH camelCase (`filterGroups` / `fieldPath`) and snake_case (`filter_groups` / `field_path`) field names \u2014 `field_path` *values* are always snake_case attribute names (e.g. `owner_id`). For the 2-request (vs N+1) hydrate pattern, use `IN` against the `id` attribute to resolve associated IDs collected from an embedded record page.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequest"
              },
              "examples": {
                "contacts": {
                  "summary": "Search contacts",
                  "value": {
                    "filter_groups": [
                      {
                        "logical_operator": "AND",
                        "filters": [
                          {
                            "field_path": "owner_id",
                            "operator": "EQUALS",
                            "value": 789
                          },
                          {
                            "field_path": "city",
                            "operator": "EQUALS",
                            "value": "San Francisco"
                          },
                          {
                            "field_path": "last_activity_date",
                            "operator": "GREATER_THAN",
                            "value": "2026-04-01T00:00:00Z"
                          }
                        ]
                      }
                    ],
                    "pagination": {
                      "page": 0,
                      "page_size": 25
                    },
                    "sort": {
                      "field": "last_activity_date",
                      "direction": "DESC"
                    }
                  }
                },
                "companies-between": {
                  "summary": "Companies with BETWEEN",
                  "value": {
                    "filter_groups": [
                      {
                        "logical_operator": "AND",
                        "filters": [
                          {
                            "field_path": "industry",
                            "operator": "EQUALS",
                            "value": "Technology"
                          },
                          {
                            "field_path": "company_size",
                            "operator": "BETWEEN",
                            "values": [
                              100,
                              1000
                            ]
                          }
                        ]
                      }
                    ],
                    "pagination": {
                      "page": 0,
                      "page_size": 25
                    }
                  }
                },
                "hydrate-by-id": {
                  "summary": "Hydrate by ID (IN filter)",
                  "value": {
                    "filterGroups": [
                      {
                        "filters": [
                          {
                            "fieldPath": "id",
                            "operator": "IN",
                            "values": [
                              1001094,
                              1015059
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RecordPage"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/objects/{object}/records/batch": {
      "post": {
        "tags": [
          "Records"
        ],
        "operationId": "batchRecords",
        "summary": "Batch operations",
        "description": "Create or update multiple records in one call. Set `operation` to `create` or `update`. Maximum **100 records** per batch.\n\n**Every batch request must include `\"all_or_none\": false`.** This is the only supported value \u2014 transactional mode (`true`) is not available. Valid records are committed and per-record errors are reported in `results`.\n\n**Important:** Batch create passes fields directly in each record object \u2014 there is no `properties` wrapper like single Create uses. Compare: single Create sends `{ \"properties\": { \"first_name\": \"...\" } }`; batch Create sends `{ \"first_name\": \"...\" }` directly.\n\nFor update, include the id field along with fields to change; `id_property` (default `id`) selects the match key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              },
              "examples": {
                "batch-create": {
                  "summary": "Batch create",
                  "value": {
                    "operation": "create",
                    "all_or_none": false,
                    "records": [
                      {
                        "first_name": "Lakshmi",
                        "email": "lakshmi@acme.com"
                      },
                      {
                        "first_name": "Parvati",
                        "email": "parvati@acme.com"
                      }
                    ]
                  }
                },
                "batch-update": {
                  "summary": "Batch update",
                  "value": {
                    "operation": "update",
                    "all_or_none": false,
                    "id_property": "id",
                    "records": [
                      {
                        "id": 1015705,
                        "job_title": "Senior CSM- EMEA"
                      },
                      {
                        "id": 1015668,
                        "job_title": "Sales User"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                },
                "examples": {
                  "all-success": {
                    "summary": "All records succeed",
                    "value": {
                      "results": [
                        {
                          "id": 1015814,
                          "status": "created",
                          "success": true
                        },
                        {
                          "id": 1015815,
                          "status": "created",
                          "success": true
                        }
                      ],
                      "success_count": 2,
                      "failure_count": 0
                    }
                  },
                  "partial-failure": {
                    "summary": "Partial failure (all_or_none: false)",
                    "value": {
                      "results": [
                        {
                          "id": 1015879,
                          "status": "created",
                          "success": true
                        },
                        {
                          "status": "error",
                          "success": false,
                          "error": "Field 'email' is required"
                        }
                      ],
                      "success_count": 1,
                      "failure_count": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/v2/objects/{object}/records/{id}/associations/{target_type}": {
      "get": {
        "tags": [
          "Associations"
        ],
        "operationId": "listAssociations",
        "summary": "List association links",
        "description": "Page through a record's links of one associated object type. Returns raw `{id, type}` link entries (no record data), ordered `created_at,id`. Use this to page past the 100-entry embed cap on record responses. **Link writes (create/update/delete) are not implemented yet.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          },
          {
            "$ref": "#/components/parameters/TargetType"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated association links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "id": 1007568,
                      "type": "contact_deal_assoc"
                    },
                    {
                      "id": 1007569,
                      "type": "contact_deal_assoc"
                    }
                  ],
                  "metadata": {
                    "page": 0,
                    "page_size": 50,
                    "total_elements": 2,
                    "total_pages": 1,
                    "has_next": false,
                    "has_previous": false
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/objects/{object}": {
      "get": {
        "tags": [
          "Schema"
        ],
        "operationId": "describeObject",
        "summary": "Schema (Describe Object)",
        "description": "Returns the full field schema for an object type. **Always call this first** before creating, updating, or filtering records \u2014 it tells you the valid field names, types, and constraints (required, unique, read-only) for each object.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          }
        ],
        "responses": {
          "200": {
            "description": "Object type descriptor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectTypeDescriptor"
                },
                "example": {
                  "name": "contact",
                  "label": "Contact",
                  "plural_label": "Contacts",
                  "object_kind": "STANDARD",
                  "version": 62,
                  "fields": [
                    {
                      "name": "first_name",
                      "type": "TEXT",
                      "label": "First Name",
                      "filterable": true,
                      "read_only": false,
                      "unique": false,
                      "required": true
                    },
                    {
                      "name": "email",
                      "type": "EMAIL",
                      "label": "Email",
                      "filterable": true,
                      "read_only": false,
                      "unique": true,
                      "required": true
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "listUsers",
        "summary": "List users",
        "description": "RBAC-scoped page of users in the caller's organization. Returns the safe-field projection only \u2014 token/password/OTP/lockout/api_key columns are never returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "created_at,desc"
            },
            "description": "Sort spec; field is snake_case"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated user list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserSafe"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "id": 1000054,
                      "first_name": "Arjun",
                      "last_name": "Manager",
                      "primary_email": "arjun+mgr@example.com",
                      "username": "arjun+mgr@example.com",
                      "role": "sales_member",
                      "title": "",
                      "status": "ACTIVATED",
                      "sales_user": false,
                      "created_at": "2026-06-12T06:33:35.139985Z"
                    },
                    {
                      "id": 1000051,
                      "first_name": "Akarsh",
                      "last_name": "",
                      "primary_email": "akarsh@example.com",
                      "username": "akarsh@example.com",
                      "role": "sales_member",
                      "title": "GTM - Sales",
                      "status": "ACTIVATED",
                      "sales_user": false,
                      "created_at": "2026-06-08T10:29:13.104277Z"
                    }
                  ],
                  "metadata": {
                    "page": 0,
                    "page_size": 20,
                    "total_elements": 45,
                    "total_pages": 3,
                    "has_next": true,
                    "has_previous": false
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUser",
        "summary": "Get a user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSafe"
                },
                "example": {
                  "associations": null,
                  "created_at": "2026-06-12T06:24:58.831219Z",
                  "first_name": "Preetham",
                  "id": 1000052,
                  "last_name": "Manoj",
                  "primary_email": "preetham@dreamteam.co",
                  "role": "sales_member",
                  "sales_user": false,
                  "status": "CREATED",
                  "title": "",
                  "username": "preetham@dreamteam.co"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Safe-field projection only \u2014 token/password/OTP/lockout/api_key columns are never returned."
      }
    },
    "/api/v2/pipelines": {
      "get": {
        "tags": [
          "Pipelines"
        ],
        "operationId": "listPipelines",
        "summary": "List pipelines",
        "responses": {
          "200": {
            "description": "Paginated pipeline list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/PaginationMetadata"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "id": 1000000,
                      "name": "Default Pipeline",
                      "description": "Standard deal flow pipeline with common stages.",
                      "is_default": true,
                      "deleted": false,
                      "stages": [],
                      "created_at": "2026-02-02T12:30:14.308047Z",
                      "updated_at": "2026-05-20T10:06:06.332465Z",
                      "created_by": 1000000
                    },
                    {
                      "id": 1011137,
                      "name": "Deal Sales Pipeline",
                      "description": "Pipeline for managing standard deal opportunities.",
                      "is_default": false,
                      "deleted": false,
                      "stages": [],
                      "created_at": "2026-05-20T10:10:51.165824Z",
                      "updated_at": "2026-05-20T10:10:51.165824Z",
                      "created_by": 1000001
                    }
                  ],
                  "metadata": {
                    "page": 0,
                    "page_size": 20,
                    "total_elements": 4,
                    "total_pages": 1,
                    "has_next": false,
                    "has_previous": false
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "created_at,desc"
            },
            "description": "Sort spec; field is snake_case"
          }
        ]
      }
    },
    "/api/v2/pipelines/{id}": {
      "get": {
        "tags": [
          "Pipelines"
        ],
        "operationId": "getPipeline",
        "summary": "Get a pipeline",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline (with embedded stages)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                },
                "example": {
                  "id": 1000000,
                  "name": "Default Pipeline",
                  "description": "Standard deal flow pipeline with common stages.",
                  "is_default": true,
                  "deleted": false,
                  "stages": [
                    {
                      "id": 1000002,
                      "name": "Evaluation",
                      "stage_order": 1,
                      "stage_category": "Early Stage",
                      "win_probability": 30,
                      "is_closed": false,
                      "entry_criteria": "Product demo or walkthrough done...",
                      "pipeline_id": 1000000
                    },
                    {
                      "id": 1000003,
                      "name": "Proposal Sent",
                      "stage_order": 3,
                      "stage_category": "Mid-Level Stage",
                      "win_probability": 40,
                      "is_closed": false,
                      "pipeline_id": 1000000
                    },
                    {
                      "id": 1000006,
                      "name": "Closed Won",
                      "stage_order": 8,
                      "stage_category": "Closed Won",
                      "win_probability": 100,
                      "is_closed": true,
                      "pipeline_id": 1000000
                    }
                  ],
                  "created_at": "2026-02-02T12:30:14.308047Z",
                  "updated_at": "2026-05-20T10:06:06.332465Z",
                  "created_by": 1000000
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/objects/{object}/associations": {
      "get": {
        "tags": [
          "Schema"
        ],
        "operationId": "listAssociationDefinitions",
        "summary": "List association definitions",
        "description": "Returns the association definitions a type can participate in. Use the optional `target_type` query parameter to filter to definitions linking to a specific target. Reads through to the association catalog \u2014 useful for discovering valid `kind`/`type` before reading links.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ObjectType"
          },
          {
            "name": "target_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "company"
            },
            "description": "Optional \u2014 restrict to definitions linking to this target object type"
          }
        ],
        "responses": {
          "200": {
            "description": "Association definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssociationDefinition"
                  }
                },
                "example": [
                  {
                    "association_name": "company_contact_assoc",
                    "label": "Company",
                    "source_object": "contact",
                    "target_object": "company",
                    "cardinality": "MANY_TO_MANY",
                    "is_default": false,
                    "is_lookup": true,
                    "is_active": true
                  }
                ]
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth2 bearer token. Organization resolved from `orgId` claim."
      }
    },
    "parameters": {
      "ObjectType": {
        "name": "object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "contact",
            "company",
            "deal",
            "note"
          ],
          "example": "contact"
        },
        "description": "Object type slug"
      },
      "RecordId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 123
        },
        "description": "Record ID"
      },
      "TargetType": {
        "name": "target_type",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "company"
        },
        "description": "Associated object type"
      },
      "TargetId": {
        "name": "target_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Target record ID"
      },
      "Page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        },
        "description": "Zero-based page index"
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 20,
          "maximum": 100
        },
        "description": "Page size. Default 20. Max 100 \u2014 higher values are silently capped at 100 (no error)."
      },
      "Associations": {
        "name": "associations",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": "Object types to embed (repeatable, capped at 100 per type)"
      }
    },
    "schemas": {
      "ObjectRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          },
          "associations": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "integer"
          }
        }
      },
      "RecordCreateRequest": {
        "type": "object",
        "required": [
          "properties"
        ],
        "properties": {
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Field name \u2192 value pairs (snake_case)"
          },
          "associations": {
            "type": "array",
            "description": "Optional. Link related records at creation time.",
            "items": {
              "type": "object",
              "required": [
                "id",
                "kind"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Target record ID"
                },
                "kind": {
                  "type": "string",
                  "description": "Target object type",
                  "example": "company"
                }
              }
            }
          }
        }
      },
      "RecordUpdateRequest": {
        "type": "object",
        "required": [
          "properties"
        ],
        "properties": {
          "properties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "FilterRequest": {
        "type": "object",
        "properties": {
          "filter_groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "logical_operator": {
                  "type": "string",
                  "enum": [
                    "AND",
                    "OR"
                  ]
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field_path": {
                        "type": "string"
                      },
                      "operator": {
                        "type": "string",
                        "enum": [
                          "EQUALS",
                          "NOT_EQUALS",
                          "GREATER_THAN",
                          "LESS_THAN",
                          "GREATER_THAN_OR_EQUAL_TO",
                          "LESS_THAN_OR_EQUAL_TO",
                          "BETWEEN",
                          "IN",
                          "NOT_IN",
                          "IS_NULL",
                          "IS_NOT_NULL",
                          "CONTAINS",
                          "STARTS_WITH",
                          "ENDS_WITH"
                        ]
                      },
                      "value": {},
                      "values": {
                        "type": "array",
                        "items": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "sort": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string"
              },
              "direction": {
                "type": "string",
                "enum": [
                  "ASC",
                  "DESC"
                ]
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "default": 0
              },
              "page_size": {
                "type": "integer",
                "default": 20,
                "maximum": 100
              }
            }
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "operation",
          "all_or_none",
          "records"
        ],
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "create",
              "update"
            ],
            "description": "`create` or `update`"
          },
          "all_or_none": {
            "type": "boolean",
            "enum": [
              false
            ],
            "description": "**Required.** Must be `false`. Only partial-success mode is supported \u2014 valid records are committed and per-record failures appear in `results`. Transactional mode (`true`) is not available."
          },
          "id_property": {
            "type": "string",
            "description": "The field used to match records for updates. Currently only `id` is supported. Required for `update` operations.",
            "example": "id"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "maxItems": 100,
            "description": "For `create`, pass field values directly (no `properties` wrapper \u2014 unlike single Create). For `update`, include the ID field along with fields to change."
          }
        },
        "description": "Create or update multiple records in a single request. **You must include `all_or_none: false` in every batch request** \u2014 it is the only supported value."
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "status": {
                  "type": "string",
                  "example": "created"
                },
                "success": {
                  "type": "boolean"
                },
                "error": {
                  "type": "string"
                }
              }
            }
          },
          "success_count": {
            "type": "integer"
          },
          "failure_count": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PaginationMetadata": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_elements": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "has_next": {
            "type": "boolean"
          },
          "has_previous": {
            "type": "boolean"
          }
        }
      },
      "UserSafe": {
        "type": "object",
        "description": "User identity. Sensitive fields (token, password, api_key) are never returned.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "primary_email": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "sales_manager",
              "sales_member"
            ]
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVATED",
              "CREATED",
              "SUSPENDED"
            ]
          },
          "sales_user": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Stage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "stage_order": {
            "type": "integer"
          },
          "stage_category": {
            "type": "string",
            "description": "e.g. Early Stage, Mid-Level Stage, Closed Won"
          },
          "win_probability": {
            "type": "integer"
          },
          "is_closed": {
            "type": "boolean",
            "description": "true for terminal stages (Closed Won / Closed Lost)"
          },
          "entry_criteria": {
            "type": "string"
          },
          "pipeline_id": {
            "type": "integer"
          }
        }
      },
      "Pipeline": {
        "type": "object",
        "description": "Pipeline. List responses omit `stages`; Get by ID returns the full stages array.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          },
          "deleted": {
            "type": "boolean"
          },
          "stages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stage"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "integer"
          }
        }
      },
      "AssociationDefinition": {
        "type": "object",
        "properties": {
          "association_name": {
            "type": "string",
            "example": "company_deal_assoc"
          },
          "label": {
            "type": "string",
            "example": "Company"
          },
          "source_object": {
            "type": "string",
            "example": "deal"
          },
          "target_object": {
            "type": "string",
            "example": "company"
          },
          "cardinality": {
            "type": "string",
            "enum": [
              "ONE_TO_ONE",
              "ONE_TO_MANY",
              "MANY_TO_MANY"
            ]
          },
          "is_default": {
            "type": "boolean"
          },
          "is_lookup": {
            "type": "boolean"
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "ObjectField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Field datatype (TEXT, EMAIL, NUMBER, DATE, ...)"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "unique": {
            "type": "boolean"
          },
          "filterable": {
            "type": "boolean"
          },
          "searchable": {
            "type": "boolean"
          },
          "read_only": {
            "type": "boolean"
          },
          "hidden": {
            "type": "boolean"
          },
          "kind": {
            "type": "string"
          },
          "override_policy": {
            "type": "string"
          },
          "default_value": {},
          "options": {}
        }
      },
      "ObjectTypeDescriptor": {
        "type": "object",
        "description": "Effective (system + tenant-override) schema for the type. `version` increments on schema change.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "contact"
          },
          "label": {
            "type": "string"
          },
          "plural_label": {
            "type": "string"
          },
          "object_kind": {
            "type": "string",
            "enum": [
              "STANDARD",
              "CUSTOM"
            ]
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectField"
            }
          }
        }
      }
    },
    "responses": {
      "RecordPage": {
        "description": "Paginated record list. When `?associations=` is passed, each record includes an `associations` block.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ObjectRecord"
                  }
                },
                "metadata": {
                  "$ref": "#/components/schemas/PaginationMetadata"
                }
              }
            },
            "examples": {
              "list-plain": {
                "summary": "List contacts (no associations)",
                "value": {
                  "results": [
                    {
                      "id": 1015634,
                      "type": "contact",
                      "properties": {
                        "first_name": "Ada",
                        "last_name": "Lovelace",
                        "email": "ada@example.com",
                        "source": "Email",
                        "owner_id": 1000001,
                        "contact_activity_status": "New"
                      },
                      "created_at": "2026-06-29T10:23:27.444871Z",
                      "updated_at": "2026-06-29T10:23:35.757096Z",
                      "created_by": 1000001
                    }
                  ],
                  "metadata": {
                    "page": 0,
                    "page_size": 5,
                    "total_elements": 563,
                    "total_pages": 113,
                    "has_next": true,
                    "has_previous": false
                  }
                }
              },
              "list-with-associations": {
                "summary": "List deals with embedded associations",
                "value": {
                  "results": [
                    {
                      "id": 1008446,
                      "type": "deal",
                      "properties": {
                        "name": "Acme Corp - May 2026",
                        "amount": 200.0,
                        "expected_close_date": "2026-07-03T18:30:00Z",
                        "stage_id": 1000001,
                        "owner_id": 1000032,
                        "pipeline_id": 1000000
                      },
                      "associations": {
                        "contact": {
                          "records": [
                            {
                              "id": 1007568,
                              "type": "contact_deal_assoc"
                            }
                          ],
                          "metadata": {
                            "total": 1,
                            "has_more": false
                          }
                        },
                        "company": {
                          "records": [
                            {
                              "id": 1007569,
                              "type": "company_deal_assoc"
                            }
                          ],
                          "metadata": {
                            "total": 1,
                            "has_more": false
                          }
                        }
                      },
                      "created_at": "2026-05-05T06:32:14.062081Z",
                      "updated_at": "2026-05-23T04:36:58.718301Z",
                      "created_by": 1000001
                    }
                  ],
                  "metadata": {
                    "page": 0,
                    "page_size": 5,
                    "total_elements": 107,
                    "total_pages": 22,
                    "has_next": true,
                    "has_previous": false
                  }
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Validation error \u2014 see the `errors` array for specifics.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "duplicate-value": {
                "summary": "Duplicate unique value",
                "value": {
                  "code": "VALIDATION_FAILED",
                  "message": "Field 'email' must be unique.",
                  "errors": [
                    {
                      "code": "DUPLICATE_VALUE",
                      "field": "email",
                      "message": "Value 'umashankar@acme.com' already exists for this contact (conflicting record ID: 1012888)."
                    }
                  ]
                }
              },
              "required-field-missing": {
                "summary": "Required field missing",
                "value": {
                  "code": "VALIDATION_FAILED",
                  "message": "Field 'email' is required",
                  "errors": [
                    {
                      "code": "REQUIRED_FIELD_MISSING",
                      "field": "email",
                      "message": "Field 'email' is required"
                    }
                  ],
                  "path": "/api/v2/objects/contact/records/1015879",
                  "timestamp": "2026-07-02T08:48:05.199294005"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found \u2014 the record ID does not exist for the given object type, or the object type slug itself is invalid (e.g. `contacts` instead of `contact`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "record-not-found": {
                "summary": "Record ID doesn't exist",
                "value": {
                  "code": "NOT_FOUND",
                  "message": "Custom object data not found with id: 24 and objectName: contact"
                }
              },
              "unknown-object-type": {
                "summary": "Object type is plural / unknown",
                "value": {
                  "code": "NOT_FOUND",
                  "message": "Unknown object type: contacts"
                }
              }
            }
          }
        }
      },
      "ServerError": {
        "description": "Server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized \u2014 the Bearer token is invalid, missing, or has been regenerated.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "Unauthorized access",
              "path": "/api/v2/objects/contact/records",
              "timestamp": "2026-07-02T08:26:39.437"
            }
          }
        }
      }
    }
  }
}
